foregrounds/__pycache__/bruit_fossil.cpython-312.pyc
foregrounds/__pycache__/conversion.cpython-312.pyc
foregrounds/__pycache__/dust_SED.cpython-312.pyc
foregrounds/__pycache__/func_theo.cpython-312.pyc
